/* DEVELOPER: Umar Farooq, IS117-006, Spring 2024 */

body{
  background-color:aliceblue;
}
h1 {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
  font-size: 400%;
  padding: 0em;
  background-color:rgb(30, 70, 119);
}

/*Title*/
.title {
  font-size: 3rem; 
  color: rgb(239, 234, 234); 
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: left;
  margin-right: 0%;
  margin-left: 0%;
  margin-bottom: 5px; 

}

/* Style for the description */
.description {
  font-size: 1.5rem; 
  text-align: center;
  color: rgb(30, 69, 119); 
  font-family:'Times New Roman', Times, serif; 
  margin-bottom: 1rem; 
}

/*Style for logo*/
.logo {
  width: 2rem; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  float: left;
  display:inline; /* Ensure the image behaves as a block element */
  padding: 1rem;
}

.logo:hover {
  opacity: 0.8; /* Reduce opacity on hover */
  transition: opacity 0.3s ease; /* Smooth transition effect */
}

/* Nav tab color changes for specific page */  
#hair {
  display: block;
  color:lightslategray;
  background-color:rgb(165, 205, 239);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

main{
  margin-left: 2em;
  width: 60em;
  float: left;
}

aside{
  width: 15em;
  float: right;
}

body, ul {
  margin: 0;
  padding: 0;
}

/* the navigation bar */
nav {
  background-color: rgb(30, 69, 119);
}
  
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #555;
}

body, h1, p {
  margin: 0;
  padding: 0;
}


header {
  text-align: center;
  margin-top: 5px; 
  margin-right: 0%;
  margin-left: 0%;
}


shampoo,conditioner, oil {
  padding-bottom: 1rem;
  font-size: 250%;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h_s{
  border: 0 solid gray;
  margin: 0, auto, auto;
  text-align: center;
  margin-bottom: 4rem;
}
img{
  display:block;
}

ol{
  background-color: aliceblue;
}

ol li {
  font-size: 150%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 200;
  text-align: justify;
  color:rgb(30, 69, 119);
  background: lightblue;
  padding: 1em;
  margin-right: 2em;
}


.faheel{
  display: block;
  width: 10rem; 
  height: auto; 
  float: left;
  padding: 0rem;
  margin-top: 2rem;
  margin-right: 4rem;
  margin-bottom: 0.5rem;
}

.image-description{
  font-size: 5rem;
  text-align: right;
  display: block;
}

  

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(209, 232, 252);
  color: rgb(89, 89, 89);
  text-align: center;
  padding: 10px;
  font-size: 1rem;
}
